<h1>About Me Page</h1>
<h3>Whoami --</h3>
<p>
  <strong>Student :</strong> Majd Homsi <br />
  <strong>Student ID :</strong> 113692206
</p>

<h3>Introduction --</h3>
<p>
  Hello there! I am currently in my 4th Semester at Seneca College, Throughout
  my journey so far, I fell in love with JavaScript and front-end development as
  it was so fun doing all the various projects that we have done throughout the
  semesters. <br />I am currently A full time Senior Client Analyst at a
  software company where I get to lead a team and help Paramedics throughout
  Ontario with our Software that we provide for them. <br />I am looking forward
  to further learning JavaScript and front-end development and become proficient
  at it and more comfortable.
</p>
